body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(7, 7, 7);
}

/* Home section*/

.menu{
    color: rgb(255, 255, 255);
    padding: 25px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;        
}
.index {
    font-size:large;
    margin-right: 25px;   
}
.menu {
    font-size: 15px;
}
.index a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 1px;
}
.dot{
    background:rgb(27, 19, 12);
    top: 0px;
    font-size: 20px;
    position:sticky;  
}
.main{
    border: 56px;
    color:rgb(49, 220, 6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home{
    
    background-color: rgb(40, 40, 10);
    padding: 15px;
    margin-bottom: 34px;   

}
.hom{
    background-color: black;
    border-radius: 23px;
    box-shadow: 0 0 30px rgb(255, 238, 0);
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 20px;
    margin-bottom:25px;   
}
.overall{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    align-items: center;
p{
    margin: 0;
    margin-left:96px; 
    }

.hi{
    color: rgb(255, 255, 255);
    font-size: 33px;
    }
.sh{
    color: rgb(9, 198, 232);
    font-size: 45px;
    }
.and{
    color: chartreuse;
    font-size: 24px;
    }
.fr{
    font-size: 23px;
    }
.ex{
    font-size: 23px;
    }    
}
.cvre{
    margin-top: 34px;
    margin-left: 90px;
    color: rgb(255, 255, 255);
    padding: 13px;
    box-sizing: 35px;
    background-color: rgb(5, 183, 32);
    border-radius: 314px;
    letter-spacing: 3px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.image1{
    background-color: brown;
    width: 280px;
    height: 345px;
    background-image: url(/main/images/vick.jpg);
    margin-left: 45px;
    box-shadow: 0 0 20px rgb(85, 0, 255);
    border-radius: 25px;
    margin-top: 45px;
    margin-bottom: 45px;
}

/* Aboute me */

#about{
    background-color:rgb(37, 37, 12) ;
    color: aliceblue;
    margin-bottom: -215px;
    margin-top: -45px;
    padding: 123px;   
}
.abo{
    background-color: black;
    box-shadow: 0 0 30px rgb(255, 238, 0);
    padding: 33px;
    margin-bottom: 34px;
    margin-top: -58px;
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 23px;
h1{
    color:rgb(255, 0, 0);
    }
p{
    text-indent:40px;
    letter-spacing: 1px;
    }
}

/* Skills*/

#skills{
    background-color: rgb(40, 40, 10); 
    color: rgb(255, 255, 255); 
    padding: 26px;
    margin-top: 90px;
    margin-bottom: -120px;
Span{
    margin-left: 60px;
    }  
}
.col{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 30px rgb(255, 238, 0);
    padding: 35px;
    margin-left: 95px;
    margin-right: 94px;
    border-radius: 23px;
h1{
    color:rgb(255, 0, 0);
    margin-right: 23px;
    }
}
.sksec{
    display: flex;
    gap: 35px;
    margin-left: 90px;
    border-radius: 35px;
}
.sect_h{ 
          height: 181px;  
    .html {
        width: 155px;
        height: 161px;  
        background-image: url(/main/images/html.png);
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 20px rgb(85, 0, 255);
        border-radius: 35px;
        margin: 10px;
    }    
}
.sect_c{
        height: 181px;  
    .css{
    width: 155px;
    height: 161px;
    background-image: url(/main/images/css.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px rgb(85, 0, 255);
    border-radius: 34px;
    margin: 10px;
    }
}
.sect_p{
        height: 181px;
    .python{
    width: 155px;
    height: 161px;
    background-image: url(/main/images/python.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px rgb(85, 0, 255);
    border-radius: 34px;
    margin: 10px;
    }
}
.sect_s{
        height: 181px;
    .sql{
    width: 155px;
    height: 161px;
    background-image: url(/main/images/sql.webp);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px rgb(85, 0, 255);
    border-radius: 34px;
    margin: 10px;
    }
}
.sect_g{
        height: 181px;
    .github{
    width: 155px;
    height: 161px;
    background-image: url(/main/images/git.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px rgb(85, 0, 255);
    border-radius: 34px;
    margin: 10px;
    }
}

/* Experience */

#experience{
    color: rgb(255, 255, 255); 
    background-color: rgb(40, 40, 10); 
    padding: 1px;
    margin-top: 114px;
    margin-bottom: 45px;   
}
.name{
    display: flexbox;
    padding: 29px;
    background-color: black;
    box-shadow: 0 0 30px rgb(255, 238, 0);
    margin-left: 125px;
    margin-bottom: 134px;
    margin-right: 120px;
    margin-top: 50px;
    border-radius: 23px;

h1{
    color:rgb(255, 0, 0);
    }
h2{
    color: rgb(0, 255, 234);
    font-size: 27px;
    }
}
.lor{
    color: rgb(255, 255, 255);
    padding: 5px;  
p{
    font-size: 17px;
    text-indent:40px;
    letter-spacing: 0px;
    }

h3{
    color: rgb(255, 0, 255);
    }    
}
.por{
    color: rgb(255, 255, 255); 
    padding: 5px;  
p{
    font-size: 17px;
    text-indent:40px;
    letter-spacing: 0px;
    }
h3{
    color: rgb(255, 0, 255);
    }
}
.thr{
    color: rgb(255, 255, 255);
    padding: 5px;
p{
    font-size: 17px;
    text-indent:40px;
    letter-spacing: 0px;
    }
h3{
    color: rgb(255, 0, 255);
    }  
}
.cer{
    color: rgb(255, 255, 255);
    padding: 5px; 
p{
    font-size: 17px;
    letter-spacing: 0px;
    }
}

/* Contact */

#contact{
    background-color: rgb(40, 40, 10); 
    padding: 13px;
    margin-top: -135px;
}
.con{
    color: rgb(255, 255, 255);
    padding: 150px;
    text-align: center;
    background-color: rgb(10, 10, 10);
    margin-bottom: 13px;
    margin-top: 35px;
    margin-left: 120px;
    margin-right: 120px;
    box-shadow: 0 0 30px rgb(255, 238, 0);
    border-radius: 23px;
  
    
h1{
    color:rgb(255, 0, 0);
    }
}
.man{
    display: flex;
    justify-content: center;
    margin: 34px;  
}  
.mess{
    display: flex;
    padding: 2px 30px;
}
.namm input{
    margin: 10px;
    padding: 5px;
}
.sum{ 
    margin: 23px;
    padding: 33px;
button{
    background-color: chartreuse;
    font-size: 20px;
}
}

/* Fotter Section*/

.linkedin-icon {
  font-size: 32px; 
  color: cornsilk;
  margin: 35px;
}
.Github-icon {
  font-size: 32px; 
  color: cornsilk;
  margin: 45px;
}
.gmail-icon {
  font-size: 32px; 
  color: cornsilk;
  margin: 45px;
}
.Instagram-icon {
  font-size: 32px;
  color: cornsilk;
  margin: 45px; 
}
.fot{
    margin-left: 650px;
}
.icon{
    background:rgb(27, 19, 12);
    margin-right: -140px;
    margin-left: -140px;
    margin-top: 6px;  
}
.end{
    color: aliceblue;
    font-size: 15px;
    margin-left: 760px;
    margin-top: -35px;
}

/* ===== MOBILE VIEW ONLY ===== */
@media screen and (max-width: 1024px) {

  /* NAVBAR */
  .menu{
    font-size: 13px;
    padding: 10px;
  }
  .index{
    font-size: 15px;
    margin-right: 3px;
  }
  .main{
    position: sticky;
    padding: 12px;
  }


  /* HOME */
  .hom {
    margin: 10px;
    margin-right: 9px;
  }
  .overall {
    flex-direction: column;
    text-align: center;
    padding: 15px;
    margin-left: 0px;
   .hi { 
    font-size: 38px; 
    margin-right: 84px;
    }
   .sh { 
    font-size: 43px; 
    margin-right: 84px;
   }
   .and{
    margin-right: 97px;
    font-size: 30px;
   }
   .and span{
    margin-right: 95px;
    font-size: 22px;
   }
   .fr{
    margin-right: 95px;
    font-size: 17px;
   }
    .ex { 
    font-size: 17px;
    margin-right: 95px;
   }
  }
  .ex { font-size: 16px;
    margin-right: 95px;
 }
  .overall span {
    font-size: 22px;
  }
  .cvre{
    margin-right: 85px;
  }
  .image1 {
    width: 222px;
    height: 250px;
    margin: 20px auto;
  }

  /* ABOUT */

   .abo{
    margin-left: -95px;
    border-radius: 24px;
    margin-right:-97px ;
    h1{
      margin-left: 70px;
    }
   }

  /* SKILLS */

   #skills{
  margin-top: 105px;
  }
  .col{
    margin-left: 2px;
    margin-right: 0px;
    border-radius: 24px;
    h1{
      margin-left: 103px;
    }
  }
  .sksec {
    flex-direction: column;
    align-items: center;
    margin-left: 12px;
  } 

  /* EXPERIENCE */

  .name{
    margin-left: 27px;
    margin-right: 27px;
    border-radius: 24px;
  }

  /* CONTACT */

  .con {
    padding: 38px;
    margin: 15px;
    margin-right: 23px;
    border-radius: 24px;
  }
  .namm{
    margin-left: 34px;
  }
  .man {
    flex-direction: column;
    margin-left: -6px;
  }
  .mess{
    padding: 0px;
    margin-top: 22px;
    margin-left: 42px;
  }
  .sum button{
    margin-left: -5px;
  }

  /* FOOTER */
.fot {
    margin: 0;
    display: flex;
    justify-content:space-evenly;
    margin-right: 10px;
    padding: 20px;
  }
  .linkedin-icon,
  .Github-icon,
  .gmail-icon,
  .Instagram-icon {
    font-size: 26px;
    margin: 1px;
  }
  .icon {
    margin: 0;
  }
  .end {
    margin: 0;
    margin-left: 86px;
    font-size: 14px;
    margin-top: -22px;
  } 
}


